<mat-toolbar color="primary">
  <span>PATH_finder</span>
</mat-toolbar>
<div class="container">
  <div class="row">
    <mat-form-field class="col-12">
      <textarea matInput placeholder="Insert valid JSON" rows="5" [(ngModel)]="jsonInput"></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-12">
      <textarea matInput placeholder="Insert valid object to find" rows="2" [(ngModel)]="objToFindInput"></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-12">
      <input matInput type="number" placeholder="ID starting room" [(ngModel)]="idToStart" />
    </mat-form-field>
  </div>

  <div class="row">
    <button mat-raised-button (click)="generateOutput()" color="primary">
      Generate Output
    </button>
  </div>

  <div class="row mt-2">
    <div class="col-5 m-auto">
      <mat-card *ngIf="!err.value">
        <h2>OUTPUT</h2>
        <table class="m-auto">
          <tr>
            <th>ID</th>
            <th>Room</th>
            <th>Object Collected</th>
          </tr>
          <tr *ngFor="let room of path">
            <td>{{room.id}}</td>
            <td>{{room.name}}</td>
            <td>
              <p *ngFor="let obj of room.objects">{{obj.name}} </p>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>

    <div class="col-5 mx-auto">
      <mat-card *ngIf="!err.value" style="grid-area: map; text-align: center">
        <h2>Visual Map</h2>
        <h3>N</h3>
        <table class="m-auto">
          <tr *ngFor="let row of map">
            <td *ngFor="let col of row">
              {{col.name}}
            </td>
          </tr>
        </table>
        <h3>S</h3>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <p *ngIf="err.value">{{err.message}}</p>
  </div>
</div>